@import './vendor/aos.css';
@import './fonts.scss';
@import './base.scss';

#app {
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-main);
    transition: all 0.5s ease-in;
  }
}
